header, .navbar {
    background-color: #353D41;
    margin-bottom: 8vh;
}
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
  .navbar-brand {
    padding: 0;
    color: #fff;
}
  .navbar-brand:hover {
    color: #fff;
}
  #navbar-links a{
    color: #fff;
}

@media (max-width: 600px) {
  .navbar-brand {
    display: none;
  }
}