<app-header></app-header>
<h1>Filmes Populares</h1>
<section class="populares">
    <div class="film-card" *ngFor="let filme of filmes_populares">
        <a [routerLink]='detalhes_URL + filme.id'>
            <img [src]="image_URL + filme.poster_path" alt="">
        </a>
        <p>{{filme.title}}</p>
    </div>
</section>
<h1>Nos Cinemas</h1>
<section class="populares">
    <div class="film-card" *ngFor="let filme of filmes_lancamento">
        <a [routerLink]='detalhes_URL + filme.id'>
            <img [src]="image_URL + filme.poster_path" alt="">
        </a>
        <p>{{filme.name}}</p>
    </div>
</section>
