/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif; /*fonte da biblioteca do google*/
    background: rgb(20, 39, 54);
    color: white;
}
@media(max-width: 768px) { 
    .row {
      margin: 0;
  }
    
    .container {
      padding: 20px 0;
    }

    h1, h3 {
      text-align: center;
    }
  
    p, li {
      font-size: 14px;
  }

    .col-md-3 {
      display: flex;
      justify-content: center;
    }

    .cards {
      flex-direction: column;
      justify-content: center;

    }

    .card img {
      height: 200px;
    }

}